@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #0f172a;
}


@font-face {
  font-family: miln;
  src: url(../public/miln.ttf);
}
@font-face {
  font-family:space;
  src: url(../public/space.otf);
}
@font-face {
  font-family:act;
  src: url(../public/act.ttf);
}
@font-face {
  font-family:nitro;
  src: url(../public/Neotriad.otf);
}
@font-face {
  font-family:nighty;
  src: url(../public/Nightydemo.otf);
}

::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background: #d1e5ff;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(#642bff,#ff22e6);
  border-radius: 24px;
  
}
a{
  cursor: pointer;
}